# Server Port Configuration
PORT=3000

# Prisma Cloud PostgreSQL Database Connection String
# Get your free database URL from https://neon.tech or https://supabase.com
DATABASE_URL="postgresql://user:password@ep-host.neon.tech/dbname?sslmode=require"
